.main {
  width: 100%;
  background-color: white;
}

.greeting {
  height: 517px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 400;
  color: #4f4f4f;
}

.repos {
  width: 100%;
  display: flex;
  gap: 16px;
}
